/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* added the import at the top to ensure it cascades through the site */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

body{
  overflow-x: hidden;
}

*{
margin:0;
padding: 0;
font-family: 'Oswald', sans-serif;
font-size: 25px;
}

.home{
background-image: url("../img/OhmsVid.gif");
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow-x: hidden;
width: 100vw;
margin: 0px;
}

.headsection{
display: inline;
margin-bottom: 2%;
}



/*End Main Page CSS*/


/*Start About CSS below*/

.About{
  display: flex;
  flex-direction: column;
  background-color: #494949;

}

.about_content{
  margin-top:4%;
  margin: 1%;
  flex-direction: column;
  width: 90%;
}

.about_content p{
  font-size: 16px;
  font-weight: 200;
}

.Deftones_Ohms{
  width: 590px;
  margin:1%;
}

h1{
  float: left;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: 400;
}

h2{
  float: left;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin-top: 8px;
  margin-left: 20px;
  font-weight: 400;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 10px;
  /*background-color: #000;*/
  padding: 16px;
  position: sticky;
  top: 148px;
}

ul li{
  display: inline-block;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0px 5px 0px 5px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 8px;
  margin-right: 20px;
}

p{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin-top: 8px;
  margin-left: 20px;
}

/* This is for the show/hide panel on the homepage */

.panel {
	width: 350px;
	float:right;
	height:100%;
	background:#d9dada;
	position:relative;
	right: -930px;
  background-color: #000000;
  line-height: 20px;
}


.slider-arrow {
	padding:5px;
	width:10px;
	float: right;
	background:#000000;
	font:400 12px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	position:relative;
  left: 806px;
  top: 50%;
}

.panel img{
  padding-left: 75px;
  max-width: 190px;
  height: auto;
  align-content: center;
}
 .panel h2{
   padding-left: 55px;
   text-decoration: underline;
 }
/* End of panel css */

 .Deftones_Ohms{
   margin: 3%;
 }

 .Deftones_Ohms img{
   width: 100%;
 }

/*Start Tour CSS below */

.Tour{
  display: flex;
  flex-direction: column;
  background-color: Black;
}

.section-title img{
  width: 30%;
}

/*End Tour CSS */

/* Start Contact CSS Below */

.Contact{
  display: flex;
  flex-direction: column;
  background-color: Black;
}

.Contact_content{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0px;
  font-weight: 100px;
  flex-direction: row;
}

.contactform{
  width: 40%;
  margin: 15px;
  position: relative;
  left: 5%;
  border: 0;
}

.vl{
  width: 6%;
  border-right: 1px solid white;
  height: 350px;
  margin: 15px;
}

.Social_Media{
  width: 40%;
  position: relative;
  left: 12%;
  margin: 15px;
  color: #ffffff;
}

.Social_Media h2{
  font-size: 30px;
  margin: 0 auto;
}

.Social_Media a:hover{
  text-decoration: underline;
}

.Social_Media a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
}

input{
  background-color: #000000;
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-right: none;
  border-left:none;
  color: #ffffff;
  font-weight: 100;
  font-size: 20px;
}

textarea{
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 120px;
  font-weight: 100;
  font-size: 20px;
}

#SubmitForm{
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  width: 55px;
  height: 38px;
  font-weight: 100;
  padding-left: 10px;
}

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  height: 80px;
  width: 100%;
  background-color: #979797;
  position: absolute;
  bottom: 0px;
}

footer p{
font-size: 14px;
width: 80%;
color: #000;
line-height: 13px;
position: relative;
left: 4%;
}

/* End Contact CSS */

/* Accordion Content */

.tourdetails{
  width: 100%;
  display: flex;
  justify-content: unset;
  align-items: baseline;
  flex-direction: row;
  margin: 1%;
  position: relative;
  top: -15px;
}

.shows{
  width: 23%;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -20px;
}

.shows ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  width: 230px;
}

.shows ul li{
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
  border: none;
  text-align: left;
}

/* End Accordion Content */

/* Videoplayer */

#videoplayer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12%;
  left: 2.4%;
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(168,168,168,0) 0%, rgba(0,0,0,1) 100%);
}

.Boxed p{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 20px;
}

/* Off Canvas Menu */

.hamburger{
  font-size:30px;
  cursor:pointer;
  color: #fff;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right .5s;
}

.mobiletourschedule{
  display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Start Responsive CSS Below*/

@media screen and (max-width: 768px){

  /* Hamgburger Menu */
  .hamburger {
    left: 70%;
    top: 3px;
    font-size: 50px;
    position: relative;
    display: inline;
}

slider-arrow {
    left: 840px;
}

nav ul{
  display: none;
}

.mobiletourschedule{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
}

.mobiletourdates{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.mobileheader{
  display: flex;
  border: 1.5px solid #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.mobiledates{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.panel,
.slider-arrow{
  display: none;
}

.showdates{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
}

.showlocations{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
}

.showdates ul,
.showlocations ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.showdates ul li,
.showlocations ul li{
  border: none;
  color: #fff;
  font-size: 17px;
}

}


@media screen and (max-width: 320px){

   /* Hamgburger Menu */
   .hamburger {
    top: 3px;
    font-size: 50px;
    position: absolute;
    display: inline;
    left: 195px;
}

nav ul{
  display: none;
}

  .Contact_content{
    height: auto;
    flex-direction: column;
    border: none;
  }

  .about_content {
    margin-top: 4%;
    margin: 1%;
    flex-direction: column;
    width: 90%;
}

.Deftones_Ohms {
  width: 75%;
   margin: 0 auto;
}

.Deftones_Ohms img {
  width: 300px;
  padding: 1%;
  position: relative;
  right: 29px;
}

iframe {
  width: 200px;
  height: 120px;
}

.panel{
  display: none;
}

.slider-arrow{
  display: none;
}

  .vl{
    display: none;
  }

  .mobiletourschedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.NA_tour_Mobile img{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.Europe_tour_Mobile img{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.Asia_tour_Mobile img{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.mobileheader{
  width: 310px;
}
.mobileheader img{
  width: 310px;
}

  /* Mobile Footer */

  footer{
    height: 250px;
    position: relative;
    flex-wrap: wrap;
  }

  footer p {
    width: 70%;
    font-size: 15px;
    color: #000;
    line-height: 22px;
}

#videoplayer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
  left: 8.4%;
  flex-direction: column;
}

.Boxed p{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 20px;
}


}
