.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border-color: #000;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    flex-direction: row;
    height: 550px;
}

.accordion-title,
.accordion-select  {
    background-color: #ffffff;
    color: #7f8787;
    width: 270px;
    height: 100%;
    font-size: 15px;
}

.accordion-select {
    margin-bottom: -65px;
    margin-right: -240px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: transparent;
    border-right-color: rgb(234, 234, 234);
}

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: #ffffff;
}

 .accordion-title span  {
    transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    padding-bottom: 50px;
    padding-top: 50px;
    line-height: 100px;
}

.accordion-content {
    background-color: #1E1E1E;
    color: #7f8787;
    height: 550px;
    margin-bottom: -600px;
    margin-right: calc(-1 * calc(100% - 300px));
    padding: 30px;
    width: calc(100% - 300px);
}

#blue{
    background-image: url('../img/NA_tour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#yellow{
    background-image: url('../img/Europe_tour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#green{
    background-image: url('../img/Asia_tour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

@media screen and (max-width: 768px){

   .accordion{
       display: none;
   }



}



@media screen and (max-width: 320px){



}
